@import url('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation-flex.min.css');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.filterContainer{
  padding:20px;
  button{
    span{margin-right: 10px;}
      &.D_btnSort{pointer-events: initial; display:inline-block; margin-right: 10px;color: grey;
      &:focus{border:none}
      }
  }
}
footer{text-align:center;color:white;background-color:#4269ea; padding:10px}
input[name="search"]{display: none}
.top-bar {
  background-color: #4269ea !important;

  ul {
    background-color: transparent !important;
  }

  height: 50px;

  li {
    display: flex;
    align-items: center;

    .badge {
      position: absolute;
    }
  }
}

.ListContainer {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: 350px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    flex: 1 1 350px;

    img {
      height: 200px;
    }

    .card-divider {
      background: none;
    }

    .Sactual {
      padding-right: 5px;
    }

    .Sdisplay {
      text-decoration: line-through;
    }

    .Sdiscount {
      color: #7ea25d;
      float: right;
    }

    .cart {
      background-color: #f4ab2c;
      color: black;
      padding: 10px;
      width: 200px;
      border-radius: 10px;
      margin: auto
    }
  }
}
.cartContiner{
  border: 1px solid grey;
  padding: 15px;
  height: 130px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .itemName{
      max-width:250px;
      width:100%

  }
  img{width:100px; height:100%}
  .price{color:black; display: inline;}
  .discount{color:green; float: right;}
  button{color:black;text-transform: uppercase;text-decoration: none;    background: none; padding:5px;
      border: none;}
      .CountContainer{
          button{border: 1px solid grey;border-radius: 50%;}
      }
}
@media only screen and (max-width: 640px) {
  .top-bar{height: auto;}
}